<div class="container-skills {{ storedTheme }}" id="skills">
  <h1>{{ "TITLE_SKILLS" | translate }}</h1>
  <div class="container-sections-skills">

    <!--BACKEND SECTION-->
    <div class="container-skill-section">
      <h2>{{ "SUBTITLE_SKILLS_BACKEND" | translate }}</h2>
      <div class="container-languages">
        <div class="container-language" *ngFor="let skill of backendSkills">
          <img [src]="skill.image" [alt]="skill.title" />
          <p>{{ skill.title }}</p>
        </div>
      </div>
    </div>

    <!--FRONTEND SECTION-->
    <div class="container-skill-section">
      <h2>{{ "SUBTITLE_SKILLS_FRONTEND" | translate }}</h2>
      <div class="container-languages">
        <div class="container-language" *ngFor="let skill of frontendSkills">
          <img [src]="skill.image" [alt]="skill.title" />
          <p>{{ skill.title }}</p>
        </div>
      </div>
    </div>

  </div>
</div>
